@model GigHub.ViewModels.GigsViewModel

@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        @*@Html.LabelFor(m => m.SearchChars)*@
        <div id="SearchGigs" class="input-group js-SearchGig">
   
            @Html.TextBoxFor(m => m.SearchChars, new {@class = "form-control"})
            <span class="input-group-addon">
                 <i class="glyphicon glyphicon-search"></i>     
             </span>
        </div>
    </div>
}

<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    
                    @*data-gig-id="@gig.Id" class="a" href="/gigs/GigDetails"*@

                    <span >
                        @*@gig.Artist.Name*@
                        @Html.ActionLink(@gig.Artist.Name.ToString(),"GigDetails","Gigs", new { id = gig.Id},null)
                    </span>
                  
                    
                    @if (@gig.IsCanceled)
                    {
                        <span class="label label-danger">Canceled</span>
                    }


                     @if (Model.ShowActions)
                     {
                         <button data-artist-id="@gig.Artist.Id" class="btn btn-default btn-sm js-toggle-follow">Follow?</button>
                     }               
                </span>              
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button
                        data-gig-id="@gig.Id"
                        class="btn 
                            @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default") 
                            btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                }
            </div>

        </li>
        }

</ul>

@section scripts
{
    <script>
        $(document)
            .ready(function() {

                GigsController.init();

                $(".js-toggle-follow")
                    .click(function(e) {

                        var button = $(e.target);
                        $.post("/api/followartist", { ArtistId: button.attr("data-artist-id") })
                            .done(function() {
                                button.removeClass("btn-default")
                                    .addClass("btn-info")
                                    .text("Following!");
                            })
                            .fail(function() {
                                alert("Something Failed Artist");
                            });
                    });

                $(".js-SearchGig")
                    .click(function(e) {
                        var button = $(e.target);

                    });

            });
    </script>
}
